.nice-text {
    background: -webkit-linear-gradient(270deg, #1ab21a, #18baba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom-nice {
    background-image: linear-gradient(to bottom right, #00ff6a, #00fff2);
}

.right-nice {
    background-image: linear-gradient(to right, #00ff6a, #00fff2);
}

.rounded {
    border-radius: 10px !important;
}

.top-rounded {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.bottom-rounded {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.the-blur {
    height: 10%;
    width: 100%;
    border-bottom:1px solid rgba(0, 0, 0, .2);
    z-index: 10000000000;
    background: transparent;
    overflow: hidden;
    z-index: 10000;
    background: #fff;
    left: 0;
    top:0px;
}

.tabs-content.carousel .carousel-item { height: 700px;}